<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
<section class="info">
    <header>
        <h2>About Tweeful</h2>
    </header>
    <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
    </p>
</section>

<section class="info">
    <header>
        <h2>What Makes Us Different</h2>
    </header>
    <p>
        Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
    </p>
</section>

<section class="info">
    <header>
        <h2>Company History</h2>
    </header>
    <p>
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean Lacinia Bibendum Nulla Sed Consectetur.
    </p>
</section>
</div>

<footer>
    Contact us: <span>admin@tweetful.io</span>
</footer>